
<header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-sm-12 mx-auto"     style="margin-top: 20%";>
            <h1 class="text-uppercase">
              <strong style="color:white;text-align:center !important">MERILYTICS OFFICE PRODUCTIVITY CHAT BOT</strong>
            </h1>
            <hr>
          </div>
         
        </div>
      </div>
    </header>
    
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-sm-6 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

<div class="main-section">
	<div class="row border-chat">
		<div class="col-md-12 col-sm-12 col-xs-12 first-section">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-6 left-first-section">
					<p>Chat Performance Bot</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 right-first-section">
					<a href="#"><i class="fa fa-minus" aria-hidden="true"></i></a>

				</div>
			</div>
		</div>
	</div>
	<div class="row border-chat">
		<div class="col-md-12 col-sm-12 col-xs-12 second-section">
			<div class="chat-section">
				<ul >
					
				</ul>
			</div>
		</div>
	</div>
	<div class="row border-chat">
		<div class="col-md-12 col-sm-12 col-xs-12 third-section">
			<div class="text-bar">
				<input class="mytext" type="text" ng-model="Querymessages" placeholder="Write messege"><a href="#"><i class="fa fa-arrow-right" ng-click="loginController.callLoginRequest(Querymessages)" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>




